<!-- CON POST -->
<h1>Mi cuenta es: <%= @@count %></h1>
<form action="/" method="post">
	<input type="submit" value="Suma!">
</form>


<!-- SIN POST -->
<!-- <h1>Mi cuenta es: <%= @@count %></h1>
<form action="/">
	<input type="submit" value="Suma!">
</form> -->


